

.finance {
width: 642px;
height: 268px;
background: #FFFFFF;
border-radius: 12.0524px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
padding: 1rem;
}

.finance h1 {
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
color: #202536;
}