.transactions {
background: #FFFFFF;
border-radius: 12.0524px;
width: 586px;
height: 268px;
margin-left: 1.8rem;
}


.transactions h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #202536;
}

 