

.card-items {
    width: 642px;
height: 268px;
background: #FFFFFF;
border-radius: 12.0524px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
padding: 1rem;
}

.card-items2 {
    background: linear-gradient(240.98deg, #6C2261 -8.76%, #B13D3D 164.46%);
border-radius: 12.0524px;
width: 586px;
height: 268px;
margin-left: 1.8rem;
}

.card-img {
width: 16.25rem;
height: 10rem;
}

.card-details {
width: 19rem;
height: 6.4375rem;
background: #FFFFFF;
box-shadow: 0px 4px 28px rgba(108, 34, 97, 0.1);
border-radius: 14px;
}

.cardbtn {
background: linear-gradient(268.73deg, #F7EAF9 -3.01%, #FFECEC 96.15%) !important;
box-shadow: 0px 18px 29px -16px rgba(108, 34, 97, 0.16) !important;
border-radius: 6px !important;
width: 19rem !important;
color: #6C2261 !important;
}

.card-details-container {
    margin-bottom: 6.625rem;
    margin-top: 1rem;
}

.chart {
    width: 88px;
    height: 78px;
    border-top: 16.2264px solid #CFB6CB;
    border-right: 16.2264px solid #6C2261;
    border-bottom: 16.2264px solid #B8658C;
    border-left: 16.2264px solid #B48FAE;
    border-radius: 50%;
    margin-right: 10px;
}

.chart-info .div {
    display: flex;
    align-items: center;
}

.chart-info .div p {
    padding: 0;
    margin: 0;
}

.chart-info .div .div1{
    width: 9.38px;
    height: 9.38px;
    border-radius: 50%;
    background: #6C2261;
}

.chart-info .div .div2{
    width: 9.38px;
    height: 9.38px;
    border-radius: 50%;
    background: #B8658C;
}

.chart-info .div .div3{
    background: #B48FAE;
    width: 9.38px;
    height: 9.38px;
    border-radius: 50%;
}

.chart-info .div .div4 {
    width: 9.38px;
    height: 9.38px;
    border-radius: 50%;
    background: #CFB6CB;
}

.chart-info .div p {
    color: #C2C2C2;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.calender,
.daily span,
.weekly span,
.monthly span {
    color:#C2C2C2;
;
}

.calender,
.daily div span,
.weekly div span,
.monthly div span {
    color: #CACDD8;
;
}
